<!DOCTYPE html>
<html ng-app="studentApp">
<head>
    <title>Student Record AngularJS</title>

    <!-- AngularJS SRC -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

    <!-- Your JS file -->
    <script src="app.js"></script>

    <style>
        input.ng-invalid.ng-touched { border: 1px solid red; }
        input.ng-valid.ng-touched { border: 1px solid green; }
    </style>
</head>

<body ng-controller="studentController">

<h2>Student Record</h2>

<form name="studentForm" novalidate>

Name:
<input type="text" name="name" ng-model="student.name" required>
<br><br>

Roll No:
<input type="number" name="roll" ng-model="student.roll" required>
<br><br>

Marks:
<input type="number" name="marks" ng-model="student.marks" min="0" max="100" required>
<br><br>

<button ng-click="addStudent()" ng-disabled="studentForm.$invalid">
Add Student
</button>

</form>

<hr>

<table border="1">
<tr>
<th>Name</th>
<th>Roll</th>
<th>Marks</th>
</tr>

<tr ng-repeat="s in students">
<td>{{s.name}}</td>
<td>{{s.roll}}</td>
<td>{{s.marks}}</td>
</tr>

</table>

</body>
</html>